<form [formGroup]="tagForm">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Name</mat-label>
            <mat-icon matSuffix class="secondary-text">label</mat-icon>
            <input name="name" formControlName="name" matInput required (change)="onSubmit(tagForm)">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Purpose</mat-label>
            <!-- <mat-icon matSuffix class="secondary-text">star</mat-icon> -->
            <mat-select matNativeControl required formControlName="purpose">
                <mat-option *ngFor="let purpose of purposes" [value]="purpose" (change)="onSubmit(tagForm)">
                    {{purpose}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</form>