<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <img [src]="_appService.user?.avatar || 'assets/images/avatars/profile.jpg'" class="avatar mr-16" [alt]="_appService.user?.name"/>
            <span class="h5">{{_appService.user?.name}}</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">All Contacts</span>
                    </a>
                </div>

                <div class="nav-item" aria-label="frequently contacted">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='employee'}" (click)="changeFilter('employee')">
                        <div class="title">Employee Contacts</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="frequently contacted">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='business'}" (click)="changeFilter('business')">
                        <div class="title">Business Contacts</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="starred">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='starred'}"  (click)="changeFilter('starred')">
                        <div class="title">Starred Contacts</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
