<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <img class="avatar" *ngIf="user.avatar" [alt]="user.name"
                 [src]="user.avatar"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <p class="text-truncate font-weight-600">{{user.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef gt-sm fxShow.gt-md fxShow.gt-lg>Role</mat-header-cell>
        <mat-cell *matCellDef="let user" gt-sm fxShow.gt-md fxShow.gt-lg>
            <p class="text-truncate">
                {{user.role}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Designation Column -->
    <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef gt-sm fxShow.gt-md fxShow.gt-lg>Designation</mat-header-cell>
        <mat-cell *matCellDef="let user" gt-sm fxShow.gt-md fxShow.gt-lg>
            <p class="text-truncate">
                {{user.designation}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
        <mat-cell *matCellDef="let user" >
            <p class="text-truncate">
                {{user.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxShow.gt-md fxShow.gt-lg>Phone</mat-header-cell>
        <mat-cell *matCellDef="let user" fxShow.gt-md fxShow.gt-lg>
            <p class="phone text-truncate">
                {{user.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- User Active Column -->
    <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef fxShow.gt-lg fxShow.gt-md >Active</mat-header-cell>
        <mat-cell *matCellDef="let user" fxShow.gt-lg fxShow.gt-md >
            <mat-icon *ngIf="user.isActive" class="active-icon green-600 s-16">check</mat-icon>
            <mat-icon *ngIf="!user.isActive" class="active-icon red-500 s-16">close</mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- Action button icon -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>
                <!-- Action button dropdow options -->
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="change_history" (click)="disableUser(user)">
                        <mat-icon>change_history</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="deleteUser(user)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <!-- [ngClass]="{'accent-50':checkboxes[user._id]}" -->
    <mat-row *matRowDef="let user; columns: displayedColumns;"
             class="user"
             (click)="editUser(user)"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


<!-- PAGINATION -->
<mat-paginator 
    [length]="_usersService.pagination.total" 
    [pageSize]="_usersService.pagination.limit" 
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>

