<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact._id]" (ngModelChange)="onSelectedChange(contact._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->

    <!-- Avatar Column -->
    <!-- <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <img class="avatar" *ngIf="contact.avatar" [alt]="contact.firstname"
                 [src]="contact.avatar"/>
        </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.firstname}} {{contact.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide >Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide >
            <p class="text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef fxHide.gt-sm fxShow.gt-md fxShow.gt-lg>Gender</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide.gt-sm fxShow.gt-md fxShow.gt-lg>
            <p class="text-truncate">
                {{contact.gender}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Mobile Column -->
    <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md fxShow.gt-lg>Mobile</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md fxShow.gt-lg>
            <p class="phone text-truncate">
                {{contact.mobile}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Designation</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{contact.designation}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Company</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{contact.company}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Contact Type Column -->
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg fxShow.gt-md >Type</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg fxShow.gt-md >
            <p class="company text-truncate">
                {{contact.tag?.name}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact._id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact._id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact._id)">star_border</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="change_history" (click)="disableContact(contact)">
                        <mat-icon>change_history</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             [ngClass]="{'accent-50':checkboxes[contact._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


<!-- PAGINATION -->
<mat-paginator 
    [length]="_contactsService.contacts.total" 
    [pageSize]="_contactsService.contacts.limit" 
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>

