<form [formGroup]="vehicleForm">

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Name</mat-label>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <input name="name" formControlName="name" matInput required (change)="onSubmit(vehicleForm)">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Type</mat-label>
            <mat-icon matSuffix class="secondary-text">commute</mat-icon>
            <mat-select matNativeControl required formControlName="type" (change)="onSubmit(vehicleForm)">
                <mat-option value="dozer">Dozer</mat-option>
                <mat-option value="truck">Truck</mat-option>
                <mat-option value="tractor">Tractor</mat-option>
                <mat-option value="bike">Bike</mat-option>
                <mat-option value="car"> Car</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Fuel</mat-label>
            <mat-icon matSuffix class="secondary-text">local_gas_station</mat-icon>
            <mat-select matNativeControl required formControlName="fuel" (change)="onSubmit(vehicleForm)">
                <mat-option value="petrol"> Petrol</mat-option>
                <mat-option value="diesel"> Diesel</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Capacity (in litre)</mat-label>
            <mat-icon matSuffix class="secondary-text">filter_alt</mat-icon>
            <input name="capacity" formControlName="capacity" matInput type="number" required (change)="onSubmit(vehicleForm)">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Number</mat-label>
            <mat-icon matSuffix class="secondary-text">money</mat-icon>
            <input formControlName="number" matInput required (change)="onSubmit(vehicleForm)">
        </mat-form-field>
    </div>

</form>