<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact._id]" (ngModelChange)="onSelectedChange(contact._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.firstname}} {{contact.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef fxHide.gt-sm fxShow.gt-md fxShow.gt-lg>Gender</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide.gt-sm fxShow.gt-md fxShow.gt-lg>
            <p class="text-truncate">
                {{contact.gender}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Contact Type Column -->
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg fxShow.gt-md >Type</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg fxShow.gt-md >
            <p class="company text-truncate">
                {{contact.tag?.name}}
            </p>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             [ngClass]="{'accent-50':checkboxes[contact._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


<!-- PAGINATION -->
<mat-paginator 
    [length]="_contactsService.contacts.total" 
    [pageSize]="_contactsService.contacts.limit" 
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>

