<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        
        <service-form [data]="formData" [action]="action" *ngIf="module === 'services'" (formChanged)="onFormChange($event)"></service-form>

        <user-form [data]="formData" [action]="action" *ngIf="module === 'users'" (formChanged)="onFormChange($event)"></user-form>

        <tag-form [data]="formData" [action]="action" *ngIf="module === 'tags'" (formChanged)="onFormChange($event)"></tag-form>

        <vehicle-form [data]="formData" [action]="action" *ngIf="module === 'vehicles'" (formChanged)="onFormChange($event)"></vehicle-form>

        <petrol-pump-form [data]="formData" [action]="action" *ngIf="module === 'petrolPumps'" (formChanged)="onFormChange($event)"></petrol-pump-form>

        <customer-form [data]="formData" [action]="action" *ngIf="module === 'customers'" (formChanged)="onFormChange($event)"></customer-form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <!-- <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',serviceForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button> -->

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="onSubmit(configForm?.value)"
                [disabled]="configForm?.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="onSubmit(configForm?.value)"
                [disabled]="configForm?.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
