<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="checkbox" >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let client">
            <mat-checkbox [(ngModel)]="checkboxes[client._id]" (ngModelChange)="onSelectedChange(client._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let client">
            <p class="text-truncate font-weight-600">{{client.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef >Address</mat-header-cell>
        <mat-cell *matCellDef="let client">
            <p class="text-truncate font-weight-600">
                {{client.address}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef >Description</mat-header-cell>
        <mat-cell *matCellDef="let client">
            <p class="text-truncate font-weight-600">
                {{client.description}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Created by Column -->
    <ng-container matColumnDef="created_by">
        <mat-header-cell *matHeaderCellDef fxShow.gt-lg>Created by</mat-header-cell>
        <mat-cell *matCellDef="let client" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{client.created_by?.firstname}} {{client.created_by?.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Created on Column -->
    <ng-container matColumnDef="created_date" >
        <mat-header-cell *matHeaderCellDef fxShow.gt-lg>Created on</mat-header-cell>
        <mat-cell *matCellDef="let client" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{client.created_date | date}}</p>
        </mat-cell>
    </ng-container>

    <!-- Updated by Column -->
    <ng-container matColumnDef="updated_by" >
        <mat-header-cell *matHeaderCellDef fxShow.gt-md>Updated by</mat-header-cell>
        <mat-cell *matCellDef="let client" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{client.updated_by?.firstname}} {{client.updated_by?.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Updated on Column -->
    <ng-container matColumnDef="updated_date">
        <mat-header-cell *matHeaderCellDef fxShow.gt-md>Updated on</mat-header-cell>
        <mat-cell *matCellDef="let client" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{client.updated_date | date}}</p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let client">
            <div fxFlex="row" fxLayoutAlign="end center">

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="change_history" (click)="disableClient(client)">
                        <mat-icon>change_history</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="deleteClient(client)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let client; columns: displayedColumns;"
             class="client"
             (click)="editClient(client)"
             [ngClass]="{'accent-50':checkboxes[client._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<!-- PAGINATION -->
<mat-paginator 
    [length]="_clientService.clients.total" 
    [pageSize]="_clientService.clients.limit" 
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>


