<div fxFlex fxLayout="row" fxLayoutAlign="start center" class="p-24">

    <div class="close-button-wrapper" fxFlex="0 1 auto" fxFlex.gt-sm="220px">
        <button class="p-8" mat-button fxLayout="row" fxLayoutAlign="start center" (click)="deselectAll()">
            <mat-icon class="mr-8">arrow_back</mat-icon>
            <!-- <span class="text-uppercase">Back</span> -->
        </button>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="space-between center">

        <div>
            <span class="selected-contacts-count">
                <span class="mr-4">{{selectedRecords.length}}</span>
                <span>selected</span>
            </span>

            <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #selectMenu="matMenu">
                <button mat-menu-item (click)="selectAll()">Select all</button>
                <button mat-menu-item (click)="deselectAll()">Deselect all</button>
            </mat-menu>
        </div>

    </div>

    

    <div class="action-buttons">
        <button mat-raised-button class="fuse-white mt-24 mt-md-0" (click)="generateInvoice()" aria-label="delete selected">
            <mat-icon class="icon-font">receipt</mat-icon>
            <span class="text-uppercase">Generate Invoice</span>
        </button>

        <button mat-stroked-button (click)="deleteSelectedContacts()" aria-label="delete selected">
            <mat-icon class="icon-font">delete</mat-icon>
            <span class="text-uppercase">Delete</span>
        </button>
    </div>

</div>
