<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="checkbox" >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let tag">
            <mat-checkbox [(ngModel)]="checkboxes[tag._id]" (ngModelChange)="onSelectedChange(tag._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let tag">
            <p class="text-truncate font-weight-600">{{tag.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Purpose Column -->
    <ng-container matColumnDef="purpose">
        <mat-header-cell *matHeaderCellDef >Purpose</mat-header-cell>
        <mat-cell *matCellDef="let tag">
            <p class="text-truncate font-weight-600">
                {{tag.purpose}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Created by Column -->
    <ng-container matColumnDef="created_by">
        <mat-header-cell *matHeaderCellDef fxShow.gt-lg>Created by</mat-header-cell>
        <mat-cell *matCellDef="let tag" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{tag.created_by.firstname}} {{tag.created_by.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Created on Column -->
    <ng-container matColumnDef="created_date" >
        <mat-header-cell *matHeaderCellDef fxShow.gt-lg>Created on</mat-header-cell>
        <mat-cell *matCellDef="let tag" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{tag.created_date | date}}</p>
        </mat-cell>
    </ng-container>

    <!-- Updated by Column -->
    <ng-container matColumnDef="updated_by" >
        <mat-header-cell *matHeaderCellDef fxShow.gt-md>Updated by</mat-header-cell>
        <mat-cell *matCellDef="let tag" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{tag.updated_by.firstname}} {{tag.updated_by.lastname}}</p>
        </mat-cell>
    </ng-container>

    <!-- Updated on Column -->
    <ng-container matColumnDef="updated_date">
        <mat-header-cell *matHeaderCellDef fxShow.gt-md>Updated on</mat-header-cell>
        <mat-cell *matCellDef="let tag" fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{tag.updated_date | date}}</p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let tag">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(tag._id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(tag._id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(tag._id)">star_border</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="change_history" (click)="disableTag(tag)">
                        <mat-icon>change_history</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item aria-label="remove" (click)="deleteTag(tag)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let tag; columns: displayedColumns;"
             class="tag"
             (click)="editTag(tag)"
             [ngClass]="{'accent-50':checkboxes[tag._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<!-- PAGINATION -->
<mat-paginator 
    [length]="_tagService.tags.total" 
    [pageSize]="_tagService.tags.limit" 
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="onPageChange($event)">
</mat-paginator>


